body {
  margin-top: 4.65vw;
  background-color: #c0c9d1;
  line-height: 1.2;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2vw;
  color: #fff;
  background-image: linear-gradient(120deg, #2B72A5 78%, #C0C9D1);
}
.container {
  max-width: 1920px;
  overflow: hidden;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0.31vw 1.56vw 0.47vw 5vw;
}

.header__img {
  width: 19.84vw;
  height: 3.65vw;
  max-width: 381px;
}

.menu {
  margin-right: 5vw;
}

.menu__list {
  display: flex;
  gap: 1.2vw;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.menu__link {
  white-space: nowrap;
}

.about {
  margin-bottom: 6vw;
}

.about__bg {
  position: relative;
  width: 100vw;
  height: 75.36vw;
  background-image: url(../images/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.top-title {
    font-family: "Archivo", sans-serif;
    font-size: 10vw;
    font-weight: 400;
    color: #fff;
    padding: 3vw 0 0 5vw;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.about__line {
    border: 0.6vw solid #2B72A5;
    width: 39vw;
    margin-top: -1.5vw;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.about__text {
  width: 43.7vw;
  height: 26.77vw;
  margin: 19.74vw 0 0 4.9vw;
  
    
}

.about__text-img {
  width: 43.7vw;
  height: 26.77vw;
}

.text-format {
  font-family: "Montserrat Alternates", serif;
  font-weight: 400;
  font-size: 1.9vw;
  color: #000;
}

.about-text {
  position: absolute;
  display: block;
  top: 34.3vw;
  left: 4.95vw;
  width: 39.2vw;
  padding: 2vw 0 2vw 3vw;
  z-index: 5;
}


.about__gear-first {
  overflow: hidden;
  position: absolute;
  top: 17.19vw;
  right: 0;
  width: 23vw;
  height: 23vw;
  z-index: 1;
}

.about__gear-1 {
    position: absolute;
    top: 0px;
    right: -6.77vw;
    width: 23vw;
    height: 23vw;
    background-image: url(../images/aboutGear-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation: gear-1 5s linear infinite;
}


@keyframes gear-1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.about__gear-second {
  overflow: hidden;
  position: absolute;
  width: 13vw;
  height: 13vw;
  top: 36.09vw;
  right: 0;
  z-index: 1;
}

.about__gear-2 {
    position: absolute;
    width: 13vw;
    height: 13vw;
    top: 0;
    right: -6.77vw;
    background-image: url(../images/aboutGear-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    animation: gear-2 5s linear infinite;
    animation-delay: 1s;
}

@keyframes gear-2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }


.flacons {
  margin-bottom: 8vw;
}

.flacons__wrapper{
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 0.21vw;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 1718px;
  border: 1px solid #2B72A5;
  border-radius: 1.56vw;
  background-image: linear-gradient(70deg, #fff 35%, rgba(43, 114, 165, 0.5) 70%);
  display: flex;
  justify-content: space-between;
}

.flacons__img {
  margin-left: 6.25vw;
}

.flacons__img-img {
  width: 38.07vw;
  height: 37.76vw;
}

.flacons__content {
  margin-top: 9.90vw;
  margin-right: 3.13vw;
  max-width: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flacons__title {
  text-transform: uppercase;
  font-family: "Archivo", sans-serif;
  font-size: 5.21vw;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.flacons__text {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 1.88vw;
  line-height: 1.1;
  text-align: center;
}

.flacons__button {
  margin-top: 1.30vw;
  width: 20.21vw;
  height: 4.48vw;
  text-align: center;
  align-content: center;
  background-color: #2B72A5;
  border-radius: 0.52vw;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.flacons__link {
  display: block;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 2.92vw;
  color: #fff;
}


.sprei {
  margin-bottom: 8vw;
}

.sprei__wrapper {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 0.21vw;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 1718px;
  border: 1px solid #2B72A5;
  border-radius: 1.56vw;
  background-image: linear-gradient(70deg, rgba(43, 114, 165, 0.5) 40%, #fff 80%);
  display: flex;
  justify-content: center;
  gap: 7.81vw;
}

.sprei__img {
  margin: 1.77vw 6.04vw 5vw 0;
}

.sprei__content {
  margin-top: 9.90vw;
  margin-left: 2.97vw;
  max-width: 787px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sprei-txt {
  max-width: 740px;
}

.sprei__img-img {
  width: 30.31vw;
  height: 30.94vw;
}


.throat {
  margin-bottom: 8vw;
}

.throat__wrapper{
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 0.21vw;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 1718px;
  border: 1px solid #2B72A5;
  border-radius: 1.56vw;
  background-image: linear-gradient(70deg, #fff 35%, rgba(43, 114, 165, 0.5) 70%);
  display: flex;
  justify-content: center;
  gap: 7.81vw;
}

.throat__img {
  margin-top: 4vw;
}

.throat__content {
  max-width: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.throat__img-img {
  width: 40.36vw;
  height: 34.01vw;
}

.quality {
  margin-bottom: 8vw;
}

.quality__wrapper {
  width: 100vw;
  height: 57.29vw;
  background-image: url(../images/quality-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.quality__title {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 6.25vw;
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.description {
  position: relative;
  z-index: 2;
  margin-bottom: 8vw;
}

.description__wrapper {
  max-width: 1267px;
  text-align: center;
  margin: 0 auto;
}


.rooms {
  margin-bottom: 8vw;
}

.rooms__wrapper {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 0.21vw;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 1718px;
  border: 1px solid #2B72A5;
  border-radius: 1.56vw;
  background-image: linear-gradient(70deg, #fff 35%, rgba(43, 114, 165, 0.5) 70%);
  display: flex;
  justify-content: space-between;
}

.rooms__wrapper-text {
  margin-top: 6.25vw;
}

.rooms-text {
  max-width: 634px;
  margin-left: 7.92vw;
}

.rooms__wrapper-content {
  max-width: 821px;
  margin-top: 1.41vw;
  margin-right: 1.98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rooms-img {
  margin-bottom: 2.60vw;
}

.rooms-img-img {
  width: 42.76vw;
  height: 20.94vw;
}

.rooms-title {
  font-size: 2.60vw;
}

.rooms-button {
  width: 33.18vw;
  margin-bottom: 3.8vw;
}


.order {
  margin-bottom: 8vw;
}

.order__wrapper {
  margin-left: 10.31vw;
  margin-right: 10.31vw;
  width: 79.38vw;
  height: 35.63vw;
  background-image: url(../images/orfer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.order__text {
  padding-top: 3.07vw;
  padding-left: 5.16vw;
  margin-bottom: 3.66vw;
  width: 43.49vw;
  text-transform: uppercase;
  font-family: "Archivo", sans-serif;
  font-weight: 300;
  font-size: 8.33vw;
  line-height: 0.9;
  color: #000;
}

.order__button {
  display: flex;
  justify-content: center;
}

.order__button-img {
  width: 16.72vw;
  height: 4.90vw;
}




.footer-gears {
  position: absolute;
  z-index: 2;
}

.footer-gears__first {
  overflow: hidden;
  position: absolute;
  top: -3.65vw;
  left: 3.91vw;
  width: 7.81vw;
  height: 7.81vw;
}

.footer-gears__1 {
  position: absolute;
    width: 7.81vw;
    height: 7.81vw;
    background-image: url(../images/footer-gear-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation: footer-gear-1 5s linear infinite;
}


@keyframes footer-gear-1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.footer-gears__second {
  overflow: hidden;
  position: absolute;
  top: -5.21vw;
  left: 24.74vw;
  width: 13.02vw;
  height: 13.02vw;
}

.footer-gears__2 {
  position: absolute;
    width: 13.02vw;
    height: 13.02vw;
    background-image: url(../images/footer-gear-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation: footer-gear-2 5s linear infinite;
}

@keyframes footer-gear-2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.footer-gears__third {
  overflow: hidden;
  position: absolute;
  top: -7.29vw;
  left: 38.54vw;
  width: 15.63vw;
  height: 15.63vw;
}

.footer-gears__3 {
  position: absolute;
    width: 15.63vw;
    height: 15.63vw;
    background-image: url(../images/footer-gear-3.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation: footer-gear-3 5s linear infinite;
}

@keyframes footer-gear-3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer-gears__fourth {
  overflow: hidden;
  position: absolute;
  top: -9.90vw;
  left: 49.48vw;
  width: 41.67vw;
  height: 15.63vw;
}

.footer-gears__4 {
  position: absolute;
    width: 41.67vw;
    height: 41.67vw;
    background-image: url(../images/footer-gear-4.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation: footer-gear-4 10s linear infinite;
}

@keyframes footer-gear-4 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.footer-gears__fifth {
  overflow: hidden;
  position: absolute;
  top: -4.17vw;
  left: 87.50vw;
  width: 11.30vw;
  height: 13.02vw;
}

.footer-gears__5 {
  position: absolute;
    width: 13.02vw;
    height: 13.02vw;
    background-image: url(../images/footer-gear-5.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation: footer-gear-5 5s linear infinite;
}

@keyframes footer-gear-5 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.footer {
  position: relative;
  z-index: 3;
}

  .footer__wrapper {
  font-family: "Montserrat Alternates", serif;
  color: #fff;
  font-weight: 600;
  padding-top: 1.56vw;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(120deg, #2B72A5 78%, #C0C9D1);
  display: flex;
  justify-content: space-between;
}

.text-size {
  font-size: 0.89vw;
}

.footer__about {
  font-weight: 400;
  margin-left: 5.21vw;
}

.footer__about-img {
  width: 13.07vw;
  height: 5vw;
}

.footer__about-logo {
  margin-bottom: 0.78vw;
}

.footer__about-copyright {
  font-size: 0.78vw;
  margin-top: 2.86vw;
  color: #B5AEAE;
  margin-bottom: 0.63vw;
}

.footer__nav-title {
  font-weight: 700;
  margin-bottom: 0.78vw;
}

.footer__nav {
  display: flex;
  gap: 1.56vw
}

.footer__nav-text {
  font-size: 0.78vw;
  font-weight: 400;
  margin-bottom: 1.04vw;
}

.nav-width {
  width: 8.85vw;
}

.footer__nav-contact {
  margin-right: 8.33vw;
}
