
body {
  margin-top: 4.65vw;
  background-color: #c0c9d1;
  line-height: 1.2;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2vw;
  color: #fff;
  background-image: linear-gradient(120deg, #2B72A5 78%, #C0C9D1);
}
.container {
  max-width: 1920px;
  overflow: hidden;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0.31vw 1.56vw 0.47vw 5vw;
}

.header__img {
  width: 19.84vw;
  height: 3.65vw;
  max-width: 381px;
}

.menu {
  margin-right: 5vw;
}

.menu__list {
  display: flex;
  gap: 1.2vw;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.menu__link {
  white-space: nowrap;
}




.main {
  margin-bottom: 8vw;
}


.top {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 5vw;
  color: #fff;
  margin-bottom: 4.79vw;
}

.top__bg-text {
  display: flex;
  align-items: end;
  width: 100vw;
  height: 27.66vw;
  background-image: url(../images/about-top-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top__bg-text {
  padding-left: 3.70vw;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.top__line {
  margin-top: 0.26vw;
  width: 41.93vw;
  border: 0.63vw solid #2B72A5;
}



.history {
  margin: 0 12.81vw 4.79vw 5.52vw;
}

.history__wrapper {
  display: flex;
  justify-content: space-between;
}

.history__img {
  align-self: center;
}

.history__img-img {
  width: 19.53vw;
  height: 26.04vw;
}

.history__content {
  width: 52.56vw;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: end;
}

.title-alternates {
  font-family: "Montserrat Alternates", serif;
  font-weight: 700;
  font-size: 4.17vw;
  color: #022953;
}

.main-line {
  margin-top: 0.7vw;
  width: 26.09vw;
  border: 0.63vw solid #2B72A5;
}

.text-alternates {
  font-family: "Montserrat Alternates", serif;
  font-weight: 500;
  font-size: 1.88vw;
  color: #022953;
  margin-top: 1.56vw;
}


.development {
  margin-bottom: 4.79vw;
}

.development__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 73.54vw;
  margin: 0 auto;
  text-align: center;
}


.engineering {
  margin-bottom: 4.79vw;
}

.engineering__wrapper {
  display: flex;
  flex-direction: column;
}

.engineering__wrapper-start {
  width: 57.29vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4.17vw;
  color: #022953;
  text-align: center;
}

.engineering__content {
  margin-top: 2.19vw;
  display: flex;
  gap: 1.15vw;
}

.engineering__img {
  width: 51.41vw;
  height: 44.32vw;
}

.engineering__content-text {
  width: 40.16vw;
}

.text-montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.88vw;
  color: #022953;
  text-align: right;
}

.semibold {
  font-weight: 600;
  margin: 2.08vw 0;
}


.production {
  margin-bottom: 4.79vw;
}

.production__wrapper {
  width: 86.30vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.title-center {
  width: 69.11vw;
  margin: 0 auto;
}

.production__top {
  margin-top: 5.48vw;
  display: flex;
  justify-content: space-between;
}

.production__top-text {
  width: 53.02vw;
}

.production__top-img {
  padding-top: 2vw;
}

.production__top--img {
  width: 25.05vw;
  height: 24.11vw;
}

.production__middle {
  margin-top: 5.48vw;
  display: flex;
  justify-content: space-between;
}

.production__middle-text {
  width: 56.73vw;
}

.small-title {
  font-size: 3.13vw;
  text-align: left;
  margin-bottom: 2.60vw;
}

.production__middle-img {
  padding-top: 1.56vw;
}

.production__middle--img {
  width: 21.51vw;
  height: 22.08vw;
}

.production__bottom {
  margin-top: 5.48vw;
  display: flex;
  justify-content: space-between;
}

.production__bottom-text {
  width: 51.46vw;
}

.production__bottom-img {
  margin-top: 5.48vw;
}

.production__bottom--img {
  width: 18.96vw;
  height: 22.34vw;
}

.title-shadow {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.order__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 6.41vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2.60vw;
  color: #022953;
}

.order__item {
  display: flex;
  gap: 4.38vw;
  margin-top: 4.66vw;
}

.order__item-img {
  width: 5.21vw;
  height: 5.21vw;
}

.order__wrapper p {
  margin-top: 1.61vw;
}

.order__item-text {
  width: 75.36vw;
}

.text-semibold {
  font-weight: 600;
}

.text-email {
  color: #5F9FE5;
}

.order__item-text2 {
  width: 70.73vw;
}

.order__text-bottom {
  margin: 0 auto;
  padding-top: 4.66vw;
  width: 59.22vw;
  text-align: center;
}


.feedback {
  margin-top: 4.69vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2.60vw;
  color: #022953;
}

.feedback__wrapper {
  display: flex;
  align-items: center;
  gap: 3.02vw;
  height: 18.70vw;
  background-color: #D9D9D9;
}

.feedback__text {
  width: 55.26vw;
  margin-left: 6.04vw;
}

.feedback__img {
  margin-top: 0.78vw;
  width: 22.14vw;
  height: 8.13vw;
}








.footer-gears {
  position: absolute;
  z-index: 2;
}

.footer-gears__first {
  overflow: hidden;
  position: absolute;
  top: -3.65vw;
  left: 3.91vw;
  width: 7.81vw;
  height: 7.81vw;
}

.footer-gears__1 {
  position: absolute;
    width: 7.81vw;
    height: 7.81vw;
    background-image: url(../images/footer-gear-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation: footer-gear-1 5s linear infinite;
}


@keyframes footer-gear-1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.footer-gears__second {
  overflow: hidden;
  position: absolute;
  top: -5.21vw;
  left: 24.74vw;
  width: 13.02vw;
  height: 13.02vw;
}

.footer-gears__2 {
  position: absolute;
    width: 13.02vw;
    height: 13.02vw;
    background-image: url(../images/footer-gear-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation: footer-gear-2 5s linear infinite;
}

@keyframes footer-gear-2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.footer-gears__third {
  overflow: hidden;
  position: absolute;
  top: -7.29vw;
  left: 38.54vw;
  width: 15.63vw;
  height: 15.63vw;
}

.footer-gears__3 {
  position: absolute;
    width: 15.63vw;
    height: 15.63vw;
    background-image: url(../images/footer-gear-3.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation: footer-gear-3 5s linear infinite;
}

@keyframes footer-gear-3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer-gears__fourth {
  overflow: hidden;
  position: absolute;
  top: -9.90vw;
  left: 49.48vw;
  width: 41.67vw;
  height: 15.63vw;
}

.footer-gears__4 {
  position: absolute;
    width: 41.67vw;
    height: 41.67vw;
    background-image: url(../images/footer-gear-4.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation: footer-gear-4 10s linear infinite;
}

@keyframes footer-gear-4 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.footer-gears__fifth {
  overflow: hidden;
  position: absolute;
  top: -4.17vw;
  left: 87.50vw;
  width: 11.30vw;
  height: 13.02vw;
}

.footer-gears__5 {
  position: absolute;
    width: 13.02vw;
    height: 13.02vw;
    background-image: url(../images/footer-gear-5.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation: footer-gear-5 5s linear infinite;
}

@keyframes footer-gear-5 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.footer {
  position: relative;
  z-index: 3;
}

  .footer__wrapper {
  font-family: "Montserrat Alternates", serif;
  color: #fff;
  font-weight: 600;
  padding-top: 1.56vw;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(120deg, #2B72A5 78%, #C0C9D1);
  display: flex;
  justify-content: space-between;
}

.text-size {
  font-size: 0.89vw;
}

.footer__about {
  font-weight: 400;
  margin-left: 5.21vw;
}

.footer__about-img {
  width: 13.07vw;
  height: 5vw;
}

.footer__about-logo {
  margin-bottom: 0.78vw;
}

.footer__about-copyright {
  font-size: 0.78vw;
  margin-top: 2.86vw;
  color: #B5AEAE;
  margin-bottom: 0.63vw;
}

.footer__nav-title {
  font-weight: 700;
  margin-bottom: 0.78vw;
}

.footer__nav {
  display: flex;
  gap: 1.56vw
}

.footer__nav-text {
  font-size: 0.78vw;
  font-weight: 400;
  margin-bottom: 1.04vw;
}

.nav-width {
  width: 8.85vw;
}

.footer__nav-contact {
  margin-right: 8.33vw;
}